@use "sass:math";
@import "styles/base/dimensions";
@import "colors";

:root {
  --primary-color: $primary;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  body {
    overflow: auto;
    margin: 0;
    color: $text-primary;
    background: $bg-color-primary;
    background-size: cover;
    background-size: cover;
    background-position: center;
  }
}

.page-body {
  background: $bg-color-primary;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  height: calc(100vh);
  overflow: auto;
  padding: 24px;
}

.color-primary {
  color: $primary;
}
