@use "sass:math";
@import "styles/base/dimensions";
@import "colors";

:root {
  --primary-color: $primary;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  body {
    overflow: auto;
    margin: 0;
    color: $text-primary;
    background-color: $white;
    background-size: cover;
    //background-image: url("../../public/assets/background.png");
    background-size: cover;
    background-position: center;
  }
}

.page-body {
  background: #f1f1f1;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  height: calc(100vh - 195px);
  overflow: auto;
  padding: 24px;
}

.page-body-home {
  background: #f1f1f1;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  height: calc(100vh - 100px);
  overflow: auto;
  padding: 24px;
}

.color-primary {
  color: $primary;
}
